<li>
  <span>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
  <a href="{{ .URL }}">{{ .Title }}</a>
  {{ $singleURL := .URL }}
  {{ with .Resources.ByType "image" }}
    {{ range . }}
      {{ $thumbnail := .Fill "350x200 Top" }}
      <div class="portfolio-screenshot">
        <span></span>
        <a href="{{ $singleURL }}">
          <figure style="display: inline-block; margin: 1em 0;">
            <img src="{{ $thumbnail.RelPermalink }}" alt="{{ $thumbnail.Name }}" />
            <figcaption>
              <span style="text-align: left; width: auto; font-size: 1.6rem; font-weight: normal;">{{ $thumbnail.Name}}</span>
            </figcaption>
          </figure>
        </a>
      </div>
    {{ end }}
  {{ end }}
</li>
