h1.home-author {
    font-size: 7.2rem;
    line-height: 9.6rem;
}

code {
    padding: 0;
}

.pagination li a {
    font-size: 1.8rem;
    color: #212121;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 700;
}
